aiofiles==0.5.0
aniso8601==8.0.0
attrs==20.2.0
cachetools==4.1.1
carla==0.9.11
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
comment-creator==0.0.5
dataclasses==0.8
dnspython==1.16.0
Flask==1.1.1
Flask-Cors==3.0.8
flask-restx==0.2.0
google-auth==1.22.1
h11==0.9.0
httptools==0.1.1
idna==2.10
importlib-metadata==2.0.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
msgpack==1.0.2
multidict==4.7.6
mysql-connector-python==8.0.19
numpy==1.19.5
opencv-python==3.4.4.19
protobuf==3.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyrsistent==0.17.3
python-multipart==0.0.5
pytz==2020.1
requests==2.24.0
rsa==4.6
schematics==2.1.0
six==1.15.0
slim==0.6.2
typing-extensions==3.7.4.3
urllib3==1.25.11
uvicorn==0.11.8
uvloop==0.14.0
websockets==8.1
Werkzeug==1.0.1
yarl==1.4.2
zipp==3.4.0
