.App {
  font-family: sans-serif;
  text-align: center;
}

.GlobalBox {
  width: 100vw;
  height: 100vh;
}

.LocalBox {
  border: solid rgb(255, 0, 0) 5px;
  top: 00px;
  left: 00px;
  position: absolute;
  width: 100px;
  height: 100px;
}

.Thing {
  background-color: black;
  top: 100px;
  left: 400px;
  position: absolute;
}
